rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /avatars/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /claims/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    match /documents/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
}
